.body{
    margin: 0px;
}

table {
    border-spacing: 0;
    width: 100%;
}

header{
    background-color: #f1f1f1;
}

thead{
    background-color: #f1f1f1
}

thead td{
    border-bottom: 2px solid #eaeaea;
}

tbody tr td{
    padding: 0px;
    border: 1px solid #fafafa;
    height: 40px;
}

.first-line{
    border-top: 0px;
}

.event-calendar tr td:hover{
    background-color: #0089A7;
}

.current-day {
    border: 2px solid #0089A7;
}

.calendar {
    text-align: center;
}

.calendar h2{
    text-transform: uppercase;
    border-top: 8px solid #f1f1f1;
    color: #0089A7;
}

.calendar thead{
    font-weight: 600;
    text-transform: uppercase;
}

.btn-prev,
.btn-next {
    margin: -16px;
    position: absolute;
    width: 32px;
    top: 4%;
}

.btn-prev {
    left: 35px;
}

.btn-next {
    right: 35px;
}

.not-month-day{
    color: #d0d0d0;
    background-color: #f6f6f6;
}

